
.icon-cloud:before { content: '\e800'; } /* '' */
.icon-users:before { content: '\e801'; } /* '' */
.icon-cog:before { content: '\e802'; } /* '' */
.icon-binoculars:before { content: '\f1e5'; } /* '' */
